/* style.css */
/* Style for disabled links */
/*~/InventoryDataHub/app/static/css$ pwd style.css 
/home/jawwad/InventoryDataHub/app/static/css*/

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dosis:wght@200..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap');

body {
    background-color: rgb(124, 124, 202); /* Background color */
    background-image: url('/static/images/home-bk.png'); /* Background image */
    background-size: cover; /* Scales the image to cover the entire body */
    background-repeat: no-repeat; /* Prevents repeating */
    background-position: center; /* Centers the image within the body */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    font-family: "Quicksand", sans-serif; /* Sets the font */
    color: #333; /* Text color */
    max-width: 100%; /* Prevents horizontal overflow */
    overflow-x: hidden; /* Prevents horizontal scroll */
    font-size: 1rem; /* Responsive font size */
}


/* Please select the Excel or CSV files to upload. */
h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    margin-left: 1.5rem;
    color: #f8f8f8;

 }
 
 .container {
    clear: both;
}

.disabled {
    color: gray;
    cursor: not-allowed;
    pointer-events: none;
    text-decoration: none;
}

/* Select Number of NFMP: */
label {
    margin-left: 1.5rem;
    font-family: "Helvetica", sans-serif;
    font-size: 1rem;
    color: #e8ecf0;
}

/********************************oLD li**************************************************o   */
li {
    font-family: "Helvetica", sans-serif; /* Use a common web-safe font */
    margin-left: 15px;
    color: #ffffff;
    /*font-size: 15px;*/
    font-size: 1rem;
    text-shadow: 3px 3px 4x rgba(255, 255, 255, 0.5); /* Add a subtle shadow for contrast */
    padding: 0.1rem 0;
    /*padding: 2px 0; /* Add padding to increase spacing */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition for hover effects */
}


li a {
    color: inherit; /* Inherit color from the parent li */
    text-decoration: none; /* Remove the underline */
    text-shadow: 3px 3px 4px rgba(255, 255, 255, 0.5); /* Apply a subtle shadow */
    transition: color 0.3s, text-shadow 0.3s; /* Smooth transition for hover effects */
}

li a:hover {
    color: #87ceeb; /* Change to a different color on hover */
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7); /* Adjust shadow on hover */
}
/*****************************************************************************************/

/***********************************New LI************************************************/
/* Adjust the styles specifically for the list items */


/*****************************************************************************************/

.custom-file-upload, .upload-button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #6f96bc; 
    border: 1px solid #6f96bc; 
    border-radius: 5px; 
    color: rgb(255, 255, 255); 
    font-family: "Dosis", sans-serif;
    font-size: 1rem; 
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    margin: 0 5px; 
    transition: background-color 0.3s;
} 

.custom-file-upload:hover, .upload-button:hover {
    background-color: #0c2b4c; 
}

#file-upload-input {
    display: none;
}

.file-upload-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    gap: 10px;
    margin-top: 20px;
}

img {
    float: left;
    margin-left: 3rem;
    width: 5rem;
    height: 5rem;
    margin-top: 0.5rem;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 1px rgba(202, 210, 218, 0.7);
}

.content-box {
    background-color: #ffffff;
    background-image: url('/static/images/select_and_report.png');
    margin-left: 1.5rem;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 25rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}


.dropdown {
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.875rem;
    padding: 8px;
    margin-bottom: 10px;
    width: auto;
    min-width: 100px;
}

.file-upload-container {
    width: 100%;
    justify-content: space-between; 
}

.dropdown-container {
    display: flex;
    align-items: center;
    gap: 10px;
}


.dropdown-container label {
    white-space: nowrap;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    justify-content: space-between;
    padding: 0 1.5rem;
}


h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: bolder;
    text-decoration: wavy;
    padding: 0.5rem;
    border-radius: 15px;
    margin-left: 8.5rem;
    text-shadow: -1px -1px 0 #162e47, 1px -1px 0 #162e47, -1px 1px 0 #162e47, 1px 1px 0 #162e47;
}

.report-box {
    background-color: #ffffff;
    background-image: url('/static/images/select_and_report.png');
    background-size: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    max-width: 25rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

.report-box h3 {
    transform: translateY(-10px); /* Move h3 up by 10 pixels */
    /* ... other styles ... */
}

    /* ... For Hyper Link Report ... */

 a {
        color: rgb(90, 133, 191);
        text-shadow: -0.1px -0.1px 0 white, 0.1px -0.1px 0 white, -0.1px 0.1px 0 white, 0.1px 0.1px 0 white;
  }
 
.report-box h3 {
    margin-bottom: 10px; 
}

.report-box ul {
    margin-top: 0; 
    padding-top: 0;
    padding-left: 20px; 
}


.flex-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}


.content-box, .report-box {
    margin: 0 0.5rem;
    width: 25rem;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 90%; /* Set width to be responsive */
    max-width: 100%; /* Ensure it does not overflow */
    margin: 0 auto;
}


.header-container {
    margin-bottom: 20px; 
}



/*The Most Top Banner     Color behind H1 where its written Welcom to Inventory DataHub*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: #1d103b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* iF YOU  REMOVE .LOGO THE NOKIA PICTURE ON RIGHT SIDE WILL BECOME OVAL */
.logo {
    width: auto;
    border-radius: 0%; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} 

/* iF YOU  REMOVE THIS .NOKIA-LOGO THEN NOKIA LOCGO WILL BE VERY BIG  */
 .nokia-logo {
    height: 50px;
    margin-left: auto;
}

/* iF YOU  REMOVE THIS .IDH-LOGO THEN IT WILL MAKE THE LOGO SQUARE */

.idh-logo {
    border-radius: 50%; 
    height: 80px; 
    margin-right: auto;    
} 

/*h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: none;
    margin: 0;
    padding: 0;
    flex-grow: 1; 
    text-align: center; 
    margin: 0 20px;
    font-family: "Helvetica", sans-serif; /
}*/
h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    margin: 0 1rem;
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.black-background {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    background: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 175px;
    box-sizing: border-box;
    overflow: hidden;
    background-image: url('/static/images/idh_bk_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}
.black-background-text {
    color: white;
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 43, 76, 0.5);
    padding: 2rem;
    font-style: italic;
}

.header-container {
    margin-bottom: 0; 
}


.content-box {
    margin-top: 0; 
}

html{
    max-width: 100%;
    overflow-x: hidden;
}

.header-container, .body-container {
    width: 100vw; /* This sets the width to the viewport width */
    overflow: hidden; /* This prevents any part of these containers from causing horizontal scroll */
    box-sizing: border-box; /* Include padding and borders in the width */
}
@media screen and (min-width: 2560px) {
    body {
        font-size: 1.25rem; /* Increase font size on larger screens */
    }

    .container, .content-box, .report-box {
        max-width: 30rem; /* Adjust container width for larger screens */
    }

    h1 {
        font-size: 2.5rem; /* Increase header font size */
    }

    h3 {
        font-size: 2rem; /* Adjust h3 size */
    }
}